* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-wrapper {
    position: absolute;
    top: 0;
    height: 150px;
    width: 100%;
    background: #429488;
    z-index: 0;
}

#left-container #user {
    background-color: #EAEAEA;
}

body {
    background: #D9DBD5;
}

.main-wrapper {
    position: absolute;
    margin-top: 50px;
    width: 100%;
    z-index: 1;
}

.container {
    margin-top: 30px;
}

#main-avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.avatar-image {
    height: 50px;
    width: 50px;
}

.round-image {
    border-radius: 50%;
}

#main-user {
    height: 50px;
}

.h50px {
    height: 50px;
}

.h60px {
    height: 60px;
}

.h70px {
    height: 70px;
}

#app-notification {
    background-color: #8EDAFC;
}

#left-container .bell-container {
    height: 50px;
    width: 50px;
    color: #8EDAFC;
    background: #F2FBFF;
    border-radius: 50%;
}

#left-container .last-message {
    font-size: 0.75rem;
}

.preview-container {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    width: 100%;
}

#main-user span {
    margin-left: 12px;
}

.icon {
    width: 30px;
    font-size: 1.2rem;
}

.bg-color {
    background-color: #EAEAEA;
}

.contact-container {
    background-color: #FFFFFF;
}