* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
}

#app {
    height: 90vh;
    width: 80vw;
    min-width: 800px;
    margin: 5vh auto;
    display: flex;
    background-color: #429488;
}

#user,
#app-notification,
#search-box,
.contact,
#chat-contact,
#send-messages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    padding: 10px;
}

#left-container {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#right-container {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#contacts-container {
    flex-grow: 1;
}

.centering-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.centering-content>img {
    width: 100%;
}

.input-group {
    display: flex;
    align-items: center;
}


/* .form-control {
    width: 60%;
} */

.flex-grow {
    flex-grow: 1;
}

.icon {
    width: 30px;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
}

#app-notification {
    background-color: #8EDAFC;
    height: 70px;
    justify-content: flex-start;
}

#contacts-container {
    background-color: #FFFFFF;
}

.preview-container {
    display: flex;
    flex-direction: column;
}

.inline {
    display: flex;
    justify-content: space-between;
}

#message-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    padding: 30px 0;
}

.message-received,
.message-sent {
    border-radius: 5px;
    padding: 10px 10px;
    margin-top: 20px;
    width: 35%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.message-received {
    background-color: #FFFFFF;
    align-self: flex-start;
}

.message-sent {
    background-color: #D5F9BA;
    align-self: flex-end;
}


/* modifiche ------------------------------------------------------------------ */

.header-wrapper {
    position: absolute;
    top: 0;
    height: 150px;
    width: 100%;
    background: #429488;
    z-index: 0;
}

#user,
#right-container,
#chat-contact {
    background-color: #EAEAEA;
}

body {
    background: #D9DBD5;
}

.main-wrapper {
    position: absolute;
    margin-top: 50px;
    width: 100%;
    z-index: 1;
}

.container {
    margin-top: 30px;
}

#main-avatar {
    height: 40px;
    width: 40px;
    min-width: 40px;
    border-radius: 50%;
}

.avatar-image {
    height: 40px;
    width: 40px;
}

.round-image {
    border-radius: 50%;
}

#main-user {
    height: 50px;
}

.h50px {
    height: 50px;
}

.h60px {
    height: 60px;
}

.h70px {
    height: 70px;
}

#left-container .bell-container {
    height: 50px;
    width: 50px;
    color: #8EDAFC;
    background: #FFFFFF;
    border-radius: 50%;
}

#left-container .last-message,
.message-time {
    font-size: 0.75rem;
}

.preview-container {
    display: flex;
    flex-direction: column;
    padding-left: 12px;
    width: 100%;
}

#main-user span {
    margin-left: 12px;
}

.avatar-small {
    height: 40px;
    width: 40px;
    min-width: 40px;
    border-radius: 50%;
}

.avatar-medium {
    height: 50px;
    width: 50px;
    min-width: 50px;
    border-radius: 50%;
}

.bg-color {
    background-color: #FFFFFF;
}

#search-image {
    height: calc(1.5em + 0.75rem + 2px);
}

#message-box {
    background-image: url("../img/mine.jpg");
    width: 100%;
}

#send-messages {
    background-color: #F3EEEA;
}

.d-none {
    display: none;
}

.box {
    position: absolute;
    top: 30px;
    right: 0;
    background-color: #ffffff;
    padding: 10px 20px;
    z-index: 1;
}

.hover {
    background-color: rgb(223, 223, 223);
}