<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />


    <!-- style.css -->
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
</head>

<body>
    <div id="app">




        <div class="" id="left-container">

            <div class="h60px" id="user">
                <img src="./img/avatar_io.jpg" alt="Sofia" class="avatar-small">
                <span class="flex-grow">Sofia</span>
                <div class="icon"><i class="fa-solid fa-circle-notch"></i></div>
                <div class="icon"><i class="fa-solid fa-message"></i></div>
                <div class="icon"><i class="fa-solid fa-ellipsis-vertical"></i></div>
            </div>


            <div class="" id="app-notification">
                <div class="bell-container centering-content">
                    <i class="fa-solid fa-bell-slash "></i>
                </div>
                <div class="">
                    <div>Ricevi notifiche di nuovi messaggi</div>
                    <a href="#">Attiva notifiche desktop</a>
                </div>
            </div>

            <div class="h60px" id="search-box">
                <div class="input-group">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" class="form-control" placeholder="Cerca o inizia una nuova chat" aria-label="Cerca o inizia una nuova chat">
                </div>
            </div>



            <div id="contacts-container">
                <div v-for="(contact,index) in contacts" class="contact">
                    <div class="centering-content avatar-medium">
                        <img :src="getImgUrl(index)" class="round-image" alt="getName(index)">
                    </div>
                    <div class="preview-container">
                        <div class="inline">
                            <div>{{ getName(index) }}</div>
                            <div class="last-message">12:00</div>
                        </div>
                        <div>
                            <div>Ultimo messaggio</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div id="right-container">
            <div id="chat-contact">
                <div class="h50px">
                    <img src="./img/avatar_1.jpg" alt="Sofia" id="main-avatar">
                </div>
                <span class="flex-grow">{{contacts[activeIndex].name}}</span>
                <div class="icon"><i class="fa-solid fa-circle-notch"></i></div>
                <div class="icon"><i class="fa-solid fa-message"></i></div>
                <div class="icon"><i class="fa-solid fa-ellipsis-vertical"></i></div>
            </div>

            <div class="flex-grow" id="message-box">
                <div id="message-container">
                    <div v-for="message in contacts[activeIndex].messages" :class="{'message-sent' : message.status==='sent',
                    'message-received' : message.status==='received'}">
                        <div class="message">
                            {{message.message}}
                        </div>
                        <div class="message-time align-self-end">
                            {{message.date}}
                        </div>
                    </div>
                </div>
            </div>
            <div id="send-messages">
                <div class="icon d-flex justify-content-center"><i class="fa-solid fa-face-smile "></i></div>
                <input type="text" class="form-control" placeholder="Scrivi un messaggio" aria-label="Scrivi un messaggio" aria-describedby="basic-addon2">
                <div class="icon d-flex justify-content-center"><i class="fa-solid fa-microphone "></i></div>
            </div>
        </div>




    </div>


    </div>









    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- main.js -->
    <script src="./js/main.js "></script>
</body>

</html>